#about p, #about h2 {
	text-indent: 2em;
	text-align: left;
}

.about-info img {
	float: left;
}

.right-agile {
	float: right;
	text-indent: 2em;
	text-align: left;
}

#services-wrap {
	font-size: 0px;
}
#services-wrap h4{
	margin: 3px 14px 10px;
}
#services-wrap p{
	font-size: 14px;
	margin: 3px 14px 2em;
	text-indent: 2em;
	text-align: left;
}

.slider-info {
    margin: 21% auto 0;
}
@media (max-width: 650px) {
	.rslides li {
    	top: -55px;
	}
}

.col-md-2.services-gd.text-center {
	margin-left: 0em;
	float: none;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

.modal-body {
	padding-top: 80px;
}

#events img {
	width: 100%;
}

@media (max-width: 991px) {
	.services-gd.text-center {
    	width: 50%;
	}
}
@media (min-width: 992px) {
	.services-gd.text-center {
    	width: 25%;
    	margin-left: 0;
	}

	#team .col-md-3 {
    	width: 33%;
	}
}
@media (max-width: 650px) {
	.services-gd.text-center {
    	width: 100%;
	}
}



