<!DOCTYPE html>
<html>

<head>

    <title>和之道心理文化传播中心</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="sitename" content="嘉兴市和之道心理文化传播中心">
    <meta name="siteurl" content="http://www.jxhzd.tk/">
    <meta name="keywords" content="和之道 心理健康 心理文化 心理咨询 心理文化刊物" />
    <meta name="Description" content="和之道心理文化传播中心以“传播心理健康文化，引航和谐幸福人生”为使命，应用心理学知识解决个人成长困惑、婚姻家庭矛盾、老人族群心理失落等各类社会问题，中心以大型公益讲座形式推进心理健康知识的传播，和谐幸福家庭经营之道的传播，同时辅之以小型工作坊、个案咨询，促成个体的心理健康成长，减少婚姻家庭矛盾冲突，以个体的幸福、家庭的美满，促进社会的和谐发展。"
    />

    <!-- icon -->
    <link rel="shortcut icon" :href="setting.icon" type="image/x-icon" />
    <link rel="icon" sizes="any" mask :href="setting.icon">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">

    <!-- css files -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
    <!-- //online-fonts -->
    <link href="static/css/chinese.css" rel="stylesheet" type="text/css" media="all">

    <link rel="stylesheet" href="static/css/chocolat.css" type="text/css" media="screen">
    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <!-- share.css -->
    <link rel="stylesheet" href="static/js/share/css/share.min.css">

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

</head>

<body>

    <!-- navigation -->
    <div id="top-nav" class="top-nav">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <img style="width: 50px;" :src="setting.logo">
                    </li>
                    <li>
                        <a href="index.html" class="hvr-underline-from-center active">主页</a>
                    </li>
                    <li v-for="item in navigation">
                        <a :href="'#' + item.id" class="hvr-underline-from-center scroll">{{ item.name }}</a>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </nav>
    </div>
    <!-- //navigation -->

    <div class="main-w3layouts" id="home">
        <div class="header">
            <!-- Slider -->
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">

                        <li v-for="slider in sliders">
                            <div class="slider-info" style="padding: 20px;">
                                <h3 style="color: rgb(106, 103, 206);">{{ slider.title }}</h3>
                                <p style="font-size: 1.2em; line-height: 1.4em; color: white; text-align: left; text-indent: 2em;">
                                    {{ slider.content }}
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //Slider -->
        </div>
    </div>

    <!--about-->
    <div id="about" class="about">
        <div class="container">
            <h1>{{ about.name }}</h1>
            <h2>{{ about.content }}</h2>

            <div class="specialty-grids-top">
                
                <div class="col-md-4 service-box" style="visibility: visible;" v-for="item in about.items">
                    <figure class="icon">
                        <span class="glyphicon a3" :class="item.icon" aria-hidden="true"></span>
                    </figure>
                    <h5>{{ item.title }}</h5>
                    <p>{{ item.content }}</p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="buttons">
                <div class="button">
                    <h5>
                        <a :href="'mailto:' + setting.email">联系我们</a>
                    </h5>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!--//about-->

    <!-- services -->
    <div class="services" id="service">
        <h3>{{ service.name }}</h3>

        <div id="services-wrap">

            <div class="col-md-2 services-gd text-center" data-wow-delay=".5s" v-for="item in service.items">
                <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="#" class="hi-icon">
                        <img :src="item.icon" :alt="item.title" />
                    </a>
                </div>
                <h4>{{ item.title }}</h4>
                <p>{{ item.content }}</p>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //services -->

    <!-- gallery -->
    <div class="portfolio" id="gallery">
        <h3>{{ gallery.name }}</h3>

        <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s" v-for="(item, i) in gallery.items.slice(0,3)">
            <div class="col-md-4 grid slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery" data-toggle="modal" @click="show_portfolio(i)">
                        <img :src="item.image" :alt="item.title" class="img-responsive" />
                        <figcaption>
                            <h4>{{ item.title }}</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s" v-for="(item, i) in gallery.items.slice(3)">
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery" data-toggle="modal" @click="show_portfolio(i + 3)">
                        <img :src="item.image" :alt="item.title" class="img-responsive"/>
                        <figcaption>
                            <h4 class="effcet-text">{{ item.title }}</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="clearfix"></div>

        <!-- Portfolio Modals -->
        <div class="portfolio-modal modal fade slideanim" id="portfolioModalgallery" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <img :src="gallery.items[current].image" class="img-responsive" :alt="gallery.items[current].title">
                            <p>{{ gallery.items[current].title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Portfolio Modals -->
    </div>
    <!-- //gallery -->

    <!-- institutions -->
    <div class="team" id="team">

        <div class="container">
            <h3 class="title">{{ team.name }}</h3>
            <div class="team_gds">

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s" v-for="item in team.items">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" :src="item.image" :alt="item.title">
                        <div class="team_info" style="display: none;">
                            <a href="#" class="face_one">
                                <i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so3 fa fa-google fc3" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <h4>{{ item.title }}</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //institutions -->

    <!-- Events -->
    <div class="event" id="event">
        <div class="container">
            <h3>{{ event.name }}</h3>

            <div class="col-md-4 eve-agile" v-for="(item, i) in event.items">
                <div class="eve-sub1">
                    <a href="#" data-toggle="modal" data-target="#eventModalevent" @click="show_portfolio(i)">
                        <img :src="item.image" :alt="item.name" />
                    </a>
                    <h6>By an
                        <a href="#">{{ item.author }}</a>, {{ item.created }}</h6>
                    <p>{{ item.content }}</p>
                    <div class="social-share" data-sites="weibo,wechat" :data-title="item.name" :data-weibo-title="'嘉兴市和之道心理文化传播中心 -- ' + item.content"
                        :data-image="url + item.image" :data-description="item.title"></div>
                </div>
            </div>

        </div>

        <!-- Portfolio Modals -->
        <div class="modal fade" id="eventModalevent" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>{{ event.items[current].title }}</h4>
                        <img :src="event.items[current].image" :alt="event.items[current].name" />
                        <span>{{ event.items[current].content }}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Portfolio Modals -->
    </div>
    <!-- //Events -->

    <div class="map">
        <iframe id="baidu_map" src="static/html/map.html" style="border:0" allowfullscreen></iframe>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-refresh"></span> 在地图上找到我们
        </button>
    </div>

    <!-- footer -->
    <div class="footer" id="footer">

        <div class="container">
            <div class="col-md-4 agileinfo_footer_grid">
                <h4>{{ about.name }}</h4>
                <p>{{ about.content }}</p>
            </div>
            <div class="col-md-4 agileinfo_footer_grid mid-w3l nav2">
                <h4>站内导航</h4>
                <ul>
                    <li>
                        <a href="#home" class="scroll">首页</a>
                    </li>

                    <li v-for="item in navigation">
                        <a :href="'#' + item.id" class="scroll">{{ item.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 agileinfo_footer_grid mid-w3l nav2">
                <h4>联系地址</h4>
                <ul style="padding-left: 15px;">
                    <li style="width: 100%;">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ setting.address }}
                    </li>
                    <li style="width: 100%;">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <a :href="'mailto:' + setting.email">{{ setting.email }}</a>
                    </li>
                    <!-- <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (021) kdkd </li> -->
                </ul>
            </div>
            <div class="col-md-4 agileinfo_footer_grid mid-w3l nav2">
                <img :src="setting.wechat" width="120" />
                <h4>官方微信</h4>
            </div>

            <div class="clearfix"></div>
            <div class="w3agile_footer_copy">
                <p>Copyright &copy; 2014 - 2017 嘉兴市和之道心理文化传播中心 保留所有权利</p>
            </div>
        </div>
    </div>
    <!-- //footer -->


    <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
    <script src="https://vuejs.org/js/vue.min.js"></script>

    <script src="static/js/jquery.chocolat.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true
            });
        });

    </script>
    <!--//required-js-files-->

    <script src="static/js/responsiveslides.min.js"></script>
    <script>
        function responsive_slides() {
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        }
    </script>

    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="static/js/move-top.js"></script>
    <script type="text/javascript" src="static/js/easing.js"></script>
    <script type="text/javascript">
        function scroll_action() {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        }
    </script>
    <!-- start-smoth-scrolling -->

    <!-- bottom-top -->
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <!--light-box-files -->
    <script>
        $(function () {
            $('.gallery-grid a').Chocolat();
        });
    </script>
    <!-- required-js-files-->

    <a href="#" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/js/index.js"></script>

    <!-- share.js -->
    <script src="static/js/share/js/jquery.share.min.js"></script>
</body>

</html>