<!DOCTYPE html>
<html>

<head>

    <title>和之道心理文化传播中心</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="sitename" content="嘉兴市和之道心理文化传播中心">
    <meta name="siteurl" content="http://www.jxhzd.tk/">
    <meta name="keywords" content="和之道 心理健康 心理文化 心理咨询 心理文化刊物" />
    <meta name="Description" content="和之道心理文化传播中心以“传播心理健康文化，引航和谐幸福人生”为使命，应用心理学知识解决个人成长困惑、婚姻家庭矛盾、老人族群心理失落等各类社会问题，中心以大型公益讲座形式推进心理健康知识的传播，和谐幸福家庭经营之道的传播，同时辅之以小型工作坊、个案咨询，促成个体的心理健康成长，减少婚姻家庭矛盾冲突，以个体的幸福、家庭的美满，促进社会的和谐发展。"
    />

    <!-- icon -->
    <link rel="icon" sizes="any" mask href="/static/favicon.ico">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />



    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">

    <!-- css files -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
    <!-- //online-fonts -->
    <link href="static/css/chinese.css" rel="stylesheet" type="text/css" media="all">

    <link rel="stylesheet" href="static/css/chocolat.css" type="text/css" media="screen">
    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <!-- share.css -->
    <link rel="stylesheet" href="static/js/share/css/share.min.css">

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

</head>

<body>

    <!-- navigation -->
    <div id="top-nav" class="top-nav">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <img style="width: 50px;" :src="setting.logo">
                    </li>
                    <li>
                        <a href="index.html" class="hvr-underline-from-center active">主页</a>
                    </li>
                    <li v-for="item in navigation">
                        <a :href="'#' + item.id" class="hvr-underline-from-center scroll">{{ item.name }}</a>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </nav>
    </div>
    <!-- //navigation -->



    <div class="main-w3layouts" id="home">
        <div class="header">
            <!-- Slider -->
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">

                        <li v-for="item in sliders">
                            <div class="slider-info" style="padding: 20px;">
                                <h3 style="color: rgb(106, 103, 206);">{{ item.title }}</h3>
                                <p style="font-size: 1.2em; line-height: 1.4em; color: white; text-align: left; text-indent: 2em;">
                                    {{ item.content }}
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //Slider -->
        </div>
    </div>

    <!--about-->
    <div id="about" class="about">

        <div class="container">
            <h1>{{ about.name }}</h1>

            <h2>{{ about.content }}</h2>

            <div class="specialty-grids-top">
                
                <div class="col-md-4 service-box" style="visibility: visible; -webkit-animation-delay: 0.4s;" v-for="item in about.items">
                    <figure class="icon">
                        <span class="glyphicon a3" :class="item.icon" aria-hidden="true"></span>
                    </figure>
                    <h5>{{ item.title }}</h5>
                    <p>{{ item.content }}</p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="buttons">
                <div class="button">
                    <h5>
                        <a :href="'mailto:' + setting.email">联系我们</a>
                    </h5>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//about-->

    <!-- services -->
    <div class="services" id="service">

        <h3>{{ service.name }}</h3>

        <div id="services-wrap">

            <div class="col-md-2 services-gd text-center" data-wow-delay=".5s" v-for="item in service.items">
                <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="#" class="hi-icon">
                        <img :src="item.icon" :alt="item.title" />
                    </a>
                </div>
                <h4>{{ item.title }}</h4>
                <p>{{ item.content }}</p>
            </div>

            <div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
                <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="#" class="hi-icon">
                        <img src="/static/images/book.png" alt="快乐从“心”出发 老年心理健康知识公益巡讲" />
                    </a>
                </div>
                <h4>快乐从“心”出发 老年心理健康知识公益巡讲</h4>
                <p>通过心理沙龙、小组趣味活动等形式为空巢老人开展心理援助服务，疏解空巢老人孤单、寂寞、郁闷、沮丧等不良情绪，给予空巢老人精神上的关爱慰藉，为社会树立一个关爱空巢老人心理的榜样，以期引起更多社会人士对空巢老人的心理精神上的关注。</p>
            </div>

            <div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
                <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="#" class="hi-icon">
                        <img src="/static/images/edu.png" alt="大型心理健康知识公益巡讲走进社区" />
                    </a>
                </div>
                <h4>大型心理健康知识公益巡讲走进社区</h4>
                <p>宣传普及心理健康知识，让更多的人了解和关注心理健康问题，预防心理疾病的产生。让心理健康人群能够了解心理健康知识，预防心理亚健康问题的出现。让心理亚健康人群了解到自身存在的心理问题，并能够学会自我调节，主动改善自身心理健康问题。帮助有心理疾病的人群克服羞于就医的心理障碍。</p>
            </div>

            <div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
                <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="#" class="hi-icon">
                        <img src="/static/images/uni.png" alt="“美家庭、睦邻里、促和谐”——心理健康知识宣展暨现场心理咨询公益体" />
                    </a>
                </div>
                <h4>“美家庭、睦邻里、促和谐”——心理健康知识宣展暨现场心理咨询公益体</h4>
                <p>以“关注心理健康 拥抱幸福生活”为主题，通过展板形式向市民宣传普及心理健康知识，提高市民心理健康知识自我保健意识；发放心理健康知识读本，进一步普及心理健康常识；现场邀请多位心理咨询师为广大市民提供公益免费的心理咨询体验。</p>
            </div>

            <div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
                <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="#" class="hi-icon">
                        <img src="/static/images/hourglass.png" alt="生命欢乐颂系统排列工作坊" />
                    </a>
                </div>
                <h4>生命欢乐颂系统排列工作坊</h4>
                <p>帮助你察觉自我情绪和行为模式产生的源头和反应机制，呈现生命中爱与关系的真相；向内挖掘生命潜能，向外发现更多的可能性。帮助你将生命中遇到的难题转化为正向目标并自发作出内在改变，从而建立更高自我价值，达到内心和谐平衡，提升心灵品质。</p>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //services -->

    <!-- gallery -->

    <div class="portfolio" id="gallery">
        <h3>照片展示</h3>

        <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
            <div class="col-md-4 grid slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery_1" data-toggle="modal">
                        <img src="/static/images/g1.jpg" alt="“美家庭、睦邻里、促和谐”心理健康知识宣展暨现场心理咨询公益体验" class="img-responsive" />
                        <figcaption>
                            <h4>“美家庭、睦邻里、促和谐”心理健康知识宣展暨现场心理咨询公益体验</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
            <div class="col-md-4 grid slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery_2" data-toggle="modal">
                        <img src="/static/images/g2.jpg" alt="还在孵化期时的和之道在社会组织孵化中心的幸福密码讲座" class="img-responsive" />
                        <figcaption>
                            <h4>还在孵化期时的和之道在社会组织孵化中心的幸福密码讲座</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
            <div class="col-md-4 grid slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery_3" data-toggle="modal">
                        <img src="/static/images/g3.jpg" alt="和之道心理健康知识公益巡讲启动仪式" class="img-responsive" />
                        <figcaption>
                            <h4>和之道心理健康知识公益巡讲启动仪式</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>


        <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery_4" data-toggle="modal">
                        <img src="/static/images/g4.jpg" alt="和之道心理健康知识公益巡讲走进嘉州美都社区" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">和之道心理健康知识公益巡讲走进嘉州美都社区</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery_5" data-toggle="modal">
                        <img src="/static/images/g5.jpg" alt="和之道心理文化传播中心走进嘉兴职业技术学院招收志愿者" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">和之道心理文化传播中心走进嘉兴职业技术学院招收志愿者</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery_6" data-toggle="modal">
                        <img src="/static/images/g6.jpg" alt="快乐从心出发 老年心理健康知识公益巡讲走进华玉佳苑社区" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">快乐从心出发 老年心理健康知识公益巡讲走进华玉佳苑社区</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModalgallery_7" data-toggle="modal">
                        <img src="/static/images/g7.jpg" alt="如何与孩子说话亲子沟通专项讲座走进湘城社区" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">如何与孩子说话亲子沟通专项讲座走进湘城社区</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <!-- Portfolio Modals -->

    <div class="portfolio-modal modal fade slideanim" id="portfolioModalgallery_1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img src="/static/images/g1.jpg" class="img-responsive" alt="“美家庭、睦邻里、促和谐”心理健康知识宣展暨现场心理咨询公益体验">
                        <p>“美家庭、睦邻里、促和谐”心理健康知识宣展暨现场心理咨询公益体验</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade slideanim" id="portfolioModalgallery_2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img src="/static/images/g2.jpg" class="img-responsive" alt="还在孵化期时的和之道在社会组织孵化中心的幸福密码讲座">
                        <p>还在孵化期时的和之道在社会组织孵化中心的幸福密码讲座</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade slideanim" id="portfolioModalgallery_3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img src="/static/images/g3.jpg" class="img-responsive" alt="和之道心理健康知识公益巡讲启动仪式">
                        <p>和之道心理健康知识公益巡讲启动仪式</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade slideanim" id="portfolioModalgallery_4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img src="/static/images/g4.jpg" class="img-responsive" alt="和之道心理健康知识公益巡讲走进嘉州美都社区">
                        <p>和之道心理健康知识公益巡讲走进嘉州美都社区</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade slideanim" id="portfolioModalgallery_5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img src="/static/images/g5.jpg" class="img-responsive" alt="和之道心理文化传播中心走进嘉兴职业技术学院招收志愿者">
                        <p>和之道心理文化传播中心走进嘉兴职业技术学院招收志愿者</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade slideanim" id="portfolioModalgallery_6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img src="/static/images/g6.jpg" class="img-responsive" alt="快乐从心出发 老年心理健康知识公益巡讲走进华玉佳苑社区">
                        <p>快乐从心出发 老年心理健康知识公益巡讲走进华玉佳苑社区</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade slideanim" id="portfolioModalgallery_7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img src="/static/images/g7.jpg" class="img-responsive" alt="如何与孩子说话亲子沟通专项讲座走进湘城社区">
                        <p>如何与孩子说话亲子沟通专项讲座走进湘城社区</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Portfolio Modals -->
    <!-- //gallery -->

    <!-- institutions -->
    <div class="team" id="team">

        <div class="container">
            <h3 class="title">机构组成</h3>
            <div class="team_gds">

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="/static/images/t1.jpg" alt="管理部">
                        <div class="team_info" style="display: none;">
                            <a href="#" class="face_one">
                                <i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so3 fa fa-google fc3" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <h4>管理部</h4>
                </div>

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="/static/images/t2.jpg" alt="财务部">
                        <div class="team_info" style="display: none;">
                            <a href="#" class="face_one">
                                <i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so3 fa fa-google fc3" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <h4>财务部</h4>
                </div>

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="/static/images/t3.jpg" alt="宣传部">
                        <div class="team_info" style="display: none;">
                            <a href="#" class="face_one">
                                <i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so3 fa fa-google fc3" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <h4>宣传部</h4>
                </div>

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="/static/images/t4.jpg" alt="外联部">
                        <div class="team_info" style="display: none;">
                            <a href="#" class="face_one">
                                <i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so3 fa fa-google fc3" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <h4>外联部</h4>
                </div>

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="/static/images/t5.jpg" alt="讲师团队">
                        <div class="team_info" style="display: none;">
                            <a href="#" class="face_one">
                                <i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so3 fa fa-google fc3" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <h4>讲师团队</h4>
                </div>

                <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="team_pos">
                        <div class="team_back"></div>
                        <img class="img-responsive" src="/static/images/t6.jpg" alt="志愿者">
                        <div class="team_info" style="display: none;">
                            <a href="#" class="face_one">
                                <i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="face_one">
                                <i class=" so3 fa fa-google fc3" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <h4>志愿者</h4>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //institutions -->

    <!-- Events -->

    <div class="event" id="event">
        <div class="container">
            <h3>精彩活动</h3>

            <div class="col-md-4 eve-agile">
                <div class="eve-sub1">
                    <a href="#" data-toggle="modal" data-target="#eventModalevent_1">
                        <img src="/static/images/e1.jpg" alt="丰南社区" />
                    </a>
                    <h6>By an
                        <a href="#">admin</a>, 2016年3月8日</h6>
                    <p>走进新丰镇丰南社区黄鹤花园开展读书会活动</p>
                    <div class="social-share" data-sites="weibo,qq,wechat,linkedin" data-title="嘉兴市和之道心理文化传播中心" data-weibo-title="嘉兴市和之道心理文化传播中心 -- 走进新丰镇丰南社区黄鹤花园开展读书会活动"
                        data-image="http://www.jxhzd.tk/static/images/e1.jpg" data-description="走进新丰镇丰南社区黄鹤花园开展读书会活动"></div>
                </div>
            </div>

            <div class="col-md-4 eve-agile">
                <div class="eve-sub1">
                    <a href="#" data-toggle="modal" data-target="#eventModalevent_2">
                        <img src="/static/images/e2.jpg" alt="天河社区" />
                    </a>
                    <h6>By an
                        <a href="#">admin</a>, 2015年9月14日</h6>
                    <p>走进新丰镇丰南社区黄鹤花园开展读书会活动</p>
                    <div class="social-share" data-sites="weibo,qq,wechat,linkedin" data-title="嘉兴市和之道心理文化传播中心" data-weibo-title="嘉兴市和之道心理文化传播中心 -- 走进新丰镇丰南社区黄鹤花园开展读书会活动"
                        data-image="http://www.jxhzd.tk/static/images/e2.jpg" data-description="走进新丰镇丰南社区黄鹤花园开展读书会活动"></div>
                </div>
            </div>

            <div class="col-md-4 eve-agile">
                <div class="eve-sub1">
                    <a href="#" data-toggle="modal" data-target="#eventModalevent_3">
                        <img src="/static/images/e3.jpg" alt="长水街道" />
                    </a>
                    <h6>By an
                        <a href="#">admin</a>, 2015年8月28日</h6>
                    <p>赴长水街道社会组织培育中心参观学习</p>
                    <div class="social-share" data-sites="weibo,qq,wechat,linkedin" data-title="嘉兴市和之道心理文化传播中心" data-weibo-title="嘉兴市和之道心理文化传播中心 -- 赴长水街道社会组织培育中心参观学习"
                        data-image="http://www.jxhzd.tk/static/images/e3.jpg" data-description="赴长水街道社会组织培育中心参观学习"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="eventModalevent_1" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>丰南社区</h4>
                    <img src="/static/images/e1.jpg" alt="丰南社区" />
                    <span>走进新丰镇丰南社区黄鹤花园开展读书会活动</span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="eventModalevent_2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>天河社区</h4>
                    <img src="/static/images/e2.jpg" alt="天河社区" />
                    <span>走进新丰镇丰南社区黄鹤花园开展读书会活动</span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="eventModalevent_3" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>长水街道</h4>
                    <img src="/static/images/e3.jpg" alt="长水街道" />
                    <span>赴长水街道社会组织培育中心参观学习</span>
                </div>
            </div>
        </div>
    </div>

    <!-- //Events -->

    <div class="map">
        <iframe id="baidu_map" src="/static/html/map.html" style="border:0" allowfullscreen></iframe>
        <h4 style="top: 5%">
            <span style="cursor: pointer;">在地图上找到我们</span>
        </h4>
    </div>


    <!-- footer -->
    <div class="footer" id="footer">

        <div class="container">
            <div class="col-md-4 agileinfo_footer_grid">
                <h4>关于我们</h4>
                <p>和之道心理文化传播中心以“传播心理健康文化，引航和谐幸福人生”为使命，应用心理学知识解决个人成长困惑、婚姻家庭矛盾、老人族群心理失落等各类社会问题，中心以大型公益讲座形式推进心理健康知识的传播，和谐幸福家庭经营之道的传播，同时辅之以小型工作坊、个案咨询，促成个体的心理健康成长，减少婚姻家庭矛盾冲突，以个体的幸福、家庭的美满，促进社会的和谐发展。</p>
            </div>
            <div class="col-md-4 agileinfo_footer_grid mid-w3l nav2">
                <h4>站内导航</h4>
                <ul>
                    <li>
                        <a href="#home" class="scroll">首页</a>
                    </li>

                    <li>
                        <a href="#about" class="scroll">关于我们</a>
                    </li>

                    <li>
                        <a href="#service" class="scroll">公益项目</a>
                    </li>

                    <li>
                        <a href="#gallery" class="scroll">照片展示</a>
                    </li>

                    <li>
                        <a href="#team" class="scroll">机构组成</a>
                    </li>

                    <li>
                        <a href="#event" class="scroll">精彩活动</a>
                    </li>

                    <!-- <li><a href="#testimonials" class="scroll">Testimonials</a></li> -->
                </ul>
            </div>
            <div class="col-md-4 agileinfo_footer_grid mid-w3l nav2">
                <h4>联系地址</h4>
                <ul style="padding-left: 15px;">
                    <li style="width: 100%;">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 嘉兴市南湖区泰坤大厦 706室
                    </li>
                    <li style="width: 100%;">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <a href="mailto:JXHZD001@163.COM">JXHZD001@163.COM</a>
                    </li>
                    <!-- <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (021) kdkd </li> -->
                </ul>
            </div>
            <div class="col-md-4 agileinfo_footer_grid mid-w3l nav2">
                <img src="/static/QR.jpg" width="120" />
                <h4>官方微信</h4>
            </div>

            <div class="clearfix"></div>
            <div class="w3agile_footer_copy">
                <p>Copyright &copy; 2014 - 2017 嘉兴市和之道心理文化传播中心 保留所有权利</p>
            </div>
        </div>
    </div>
    <!-- //footer -->










    <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script>
        $(function () {
            const url = "http://www.jxhzd.tk/";

            const navigation = new Vue({
                el: "#top-nav",
                data: {
                    setting: {},
                    navigation: []
                },
                created() {
                    fetch(url + "api/navigation.json")
                        .then(response => response.json())
                        .then(json => {
                            this.navigation = json;
                        })
                        .then(_ => {
                            scroll_action();
                        });
                    
                    fetch(url + "api/setting.json")
                        .then(response => response.json())
                        .then(json => {
                            this.setting = json;
                        });
                }
            });

            const slider = new Vue({
                el: "#slider",
                data: {
                    sliders: []
                },
                created() {
                    fetch(url + "api/sliders.json")
                        .then(response => response.json())
                        .then(json => {
                            this.sliders = json;
                        })
                        .then(_ => {
                            responsive_slides();
                        })
                }
            });
        
            const about = new Vue({
                el: '#about',
                data: {
                    about: {},
                    setting: {}
                },
                created () {
                    fetch(url + "api/about.json")
                        .then(response => response.json())
                        .then(json => {
                            this.about = json;
                        });

                    fetch(url + "api/setting.json")
                        .then(response => response.json())
                        .then(json => {
                            this.setting = json;
                        });
                }
            });
        
            const service = new Vue({
                el: '#service',
                data: {
                    service: {}
                },
                created () {
                    fetch(url + "api/service.json")
                        .then(response => response.json())
                        .then(json => {
                            this.service = json;
                        });
                }
            });
        
        });
    </script>

    <script src="static/js/jquery.chocolat.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true
            });
        });

    </script>
    <!--//required-js-files-->

    <script src="static/js/responsiveslides.min.js"></script>
    <script>
        function responsive_slides() {
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        }
    </script>

    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="static/js/move-top.js"></script>
    <script type="text/javascript" src="static/js/easing.js"></script>
    <script type="text/javascript">
        function scroll_action() {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        }
    </script>
    <!-- start-smoth-scrolling -->

    <!-- bottom-top -->
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <!--light-box-files -->
    <script>
        $(function () {
            $('.gallery-grid a').Chocolat();
        });
    </script>
    <!-- required-js-files-->

    <a href="#" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>
    <!-- share.js -->
    <script src="static/js/share/js/jquery.share.min.js"></script>

    <script src="static/js/index.js"></script>


</body>

</html>